<div class="pt-2 p-4">
</div>

<div class="text-gray-700 shadow-md p-3 border-gray-300 ml-4 h-24 flex border-2">
</div>

<div class="hover:opacity-75 opacity-50 hover:scale-150 scale-125">
</div>

<div class="lg:grid-cols-4 grid 2xl:grid-cols-4 sm:grid-cols-3 grid-cols-2">
</div>

<div class="p-3 shadow-xl select2-dropdown">
</div>
