<div class="p-4 pt-2">
</div>

<div
  class="ml-4 flex h-24 border-2 border-gray-300 p-3 text-gray-700 shadow-md"
>
</div>

<div class="scale-125 opacity-50 hover:scale-150 hover:opacity-75">
</div>

<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4">
</div>

<div class="select2-dropdown p-3 shadow-xl">
</div>
