<% case "fake" %>
<% when "fake" %>
  <span>
    there
  </span>
<% when "something" %>
  <span>
    there
  </span>
<% when "else" %>
  <span>
    hi
  </span>
<% else %>
  <span>
    there
  </span>
<% end %>
