on:
  - push
  - pull_request

jobs:
  build:
    name: "ruby ${{ matrix.combo.ruby }}"
    strategy:
      matrix:
        combo:
          - ruby: "3.0"
          - ruby: "2.7"
          - ruby: "2.6"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.combo.ruby }}
      - name: Setup project
        run: bin/setup
      - name: Run test
        run: "bundle exec rake"
